install/
build.log
build
.cxx
.gradle
local.properties
.idea
.DS_Store
jniLibs

**/prebuiltLibs/**
!**/prebuiltLibs/**/
!**/prebuiltLibs/**/.gitkeep
keystore.properties

dockcross-*

**/dependencies/install/
build-test
.claude

valhalla_tiles.tar

**/*.a
.kotlin
